{{!< default}}

<header role="banner">
    <div class="social-links">
        <a href="http://github.com/bcowdery/"><i class="fa fa-github fa-2x"></i></a>
        <a href="http://ca.linkedin.com/in/briancowdery/"><i class="fa fa-linkedin-square fa-2x"></i></a>
    </div>

    <div class="inner">
        <div class="blog-title">
            <div class="ribbon">
                <div class="ribbon-content"><h1>The Bearded Developer <small>co</small></h1></div>
            </div>
        </div>
    </div>
</header>

<article class="main {{post_class}}">
    <div class="container">

    {{#post}}

        <h1 class="post-title">{{{title}}}</h1>
        <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>

        <section class="post-content">
            {{content}}
        </section>

        <div class="post-footer">
            <div class="row">
                <div class="col-md-8">
                    {{#if author}}
                        <section class="author">
                            <h4>{{author.name}}</h4>
                        </section>
                    {{/if}}
                    <section class="tags">
                        <ul class="tag-list">
                            <li><i class="fa fa-tags"></i></li>
                            {{#tags}}
                            <li>{{name}}</li>
                            {{/tags}}
                        </ul>
                    </section>
                </div>
                <div class="col-md-4">
                    <section class="share">
                        <a href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
                            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="https://plus.google.com/share?url={{url absolute="true"}}"
                           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                            <i class="fa fa-google-plus-square"></i>
                        </a>
                    </section>
                </div>
            </div> <!-- end .row -->
        </div> <!-- end .post-footer -->

    {{/post}}

    </div> <!-- end .container -->
</article> <!-- end .main -->
